.button a:link,
.button a:visited,
.button a:hover,
.button a:active {
    display: block;
    unicode-bidi: isolate;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    background-color: black;
    line-height: 50px;
    padding: 14px 33px;
    margin-top: 35px;
    margin-bottom: 119px;
    position: relative;

    /*background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 31px) center;*/
}


.button a::after{
    content: "" ;
    width: 28px;
    height: 34px;
    display: block;
    background-image: url(../images/arrow.svg);
    background-size: 28px 34px;
    position: absolute;
    right: 31px;
    top: 50%;
    transform: translateY(-50%);

}
