.listcomponent p{
    display: block;
    line-height: 34px;
    font-size: 22px;
    color: #707070;
    margin: 0;
    padding: 0;
    margin-bottom: 53px;
    border-top: solid 2px #707070;
    padding-top: 16px;
}

.listcomponent ol{
    list-style-type: none;
    margin:  0;
    padding: 0;
    counter-reset: listItem;
}
.listcomponent li a{
    color: #FF0000;
    
}


.listcomponent li::before{
    counter-increment: listItem;
    content: "0" counter(listItem) ".";
    display: block;
    font-size: 70px;
    color: #707070;
    
    
}